{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <!-- needs a variable to get the title of the page -->
    <h1>Edit {{ name }}</h1>
    
    <form action="{% url 'encyclopedia:edit' name %}" method="POST">
        {% csrf_token %}            
        <div class="files">
            {{ form.editContent }}
        </div>
 
        <div class="right-btn">
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
    </form>
    
{% endblock %}