{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    
    <form action="{% url 'encyclopedia:new' %}" method="POST">
        {% csrf_token %}
        <div class="files">
            {{ form.pageName.label_tag }}
            {{ form.pageName }}
        </div>
        <div class="files">
            {{ form.pageContent.label_tag }}
            {{ form.pageContent }}
        </div>

        <div class="right-btn">
            <button class="btn btn-dark" type="submit">Save</button>    
        </div>        
    </form>

    {% if duplicate != "no" %}
        <div class="files">
            {{ duplicate }}
        </div>
            
    {% endif %}

{% endblock %}